<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <!-- scripts -->
    <script src='~/Library/Angular/angular.min.js' type="text/javascript"></script>
    <script src='~/Library/Angular/app.js' type="text/javascript"></script>
    <script src='~/Library/Angular/Controllers/HomeController.js' type="text/javascript"></script>
    <script src='~/Library/JS/bk-main.js' type="text/javascript"></script>

    <!-- css -->
    <link rel="stylesheet" href="~/Library/CSS/bk-main.css" type="text/css">

</head>
<body ng-app="adriaticket">
    <div id ="page-container">
        <div id="header">
            @Html.Partial("Header")
        </div>
        <div id="menu">
            @Html.Partial("Menu")
        </div>
        <div id="main-content">
            @RenderBody()
        </div>
        <div id="footer">
            @Html.Partial("Footer")
        </div>
    </div>
</body>
</html>